{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Business Website</title>
  <link rel="stylesheet" type="text/css" href="{% static 'stats/styles.css' %}">
    {% block head %}
    {% endblock %}
  </head>
<body>
  <header>
    <div class="header-container">
        <h1>Collectable Square</h1>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'player_batting_stats' player_name='player_name' %}">Baseball Stats</a></li>
        <li><a href="{% url 'get_data' searchterm='searchterm' %}">Sold Details</a></li>
        <li><a href="{% url 'current' searchterm='searchterm' %}">Current Prices</a></li>
        <li><a href="{% url 'headlines' searchterm='searchterm' %}">Headlines</a></li>
      </ul>
    </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}
</body>
<footer>

  <div class="container">
    <p>&copy; 2023 Business Website. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
    <ul class="social-media">
      <li><a href="#"><img src="facebook.png" alt="Facebook"></a></li>
      <li><a href="#"><img src="twitter.png" alt="Twitter"></a></li>
      <li><a href="#"><img src="instagram.png" alt="Instagram"></a></li>
      <li><a href="#"><img src="linkedin.png" alt="LinkedIn"></a></li>
    </ul>
  </div>
</footer

</html>