{% extends 'stats/base.html' %}
{% block content %}
    <h1>Home page</h1>
  

    Check current and most recent sold prices.
    Check stats on the current player to determine their performance level and analyze whether it affects their memorabilia value.
    Check headlines on the players and items to see if the news affects their prices. 
    
    
    
      <section class="services">
        <div class="container">
          <h2>Our Services</h2>
          <div class="service">
            <img src="service1.png" alt="Service 1">
            <h3>Service 1</h3>
            <p>Check current and most recent sold prices.</p>
            <a href="#" class="btn">Learn More</a>
          </div>
          <div class="service">
            <img src="service2.png" alt="Service 2">
            <h3>Service 2</h3>
            <p>Check stats on the current player to determine their performance level and analyze whether it affects their memorabilia value.</p>
            <a href="#" class="btn">Learn More</a>
          </div>
          <div class="service">
            <img src="service3.png" alt="Service 3">
            <h3>Service 3</h3>
            <p> Check headlines on the players and items to see if the news affects their prices.</p>
            <a href="#" class="btn">Learn More</a>
          </div>
        </div>
      </section>
  
      <section class="testimonials">
        <div class="container">
          <h2>Our Mission</h2>
          <div class="testimonial">
            <blockquote>
              <p>Our website offers a unique feature for collectors, allowing them to track the performance of players and identify potential opportunities to invest in their memorabilia.
                We also monitor the latest news and updates on players, teams, and sports events to provide real-time insights into how they may impact the value.
                By providing up-to-date statistics and analysis, we aim to help collectors make informed decisions and maximize the value of their collections.</p>
            </blockquote>
          </div>
      </section>

  
      <section class="contact">
        <div class="container">
          <h2>Contact Us</h2>
          <div class="contact-info">

          </div>
        </div>
      </section>
{% endblock content %}